/* Import Roboto from Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: Roboto;
}

body {
    /* Full width background colors */
    margin: 0;
}

a {
    /* Remove underline */
    text-decoration: none;

    /* Link color */
    color: black
}

ul {
    /* Remove dots from list */
    list-style-type: none;
}

.links {
    display: flex;
    padding: 0px;
}

.links li a {
    padding-inline: 10px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 150px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    background-color: #1f2937;
    padding-bottom: 60px;
}

.header a {
    color: #E5E7EB;
    font-family: Roboto;
    font-size: 18px;
}

/* Top */
/* TODO: Same left and right height line up sign up */
.top-content {
    display: flex;
    padding: 0px 240px;
    background-color: #1f2937;
    padding-bottom: 150px;
    justify-content: center;
}

.top-content .container {
    background-color: #1f2937;
    display: flex;
    align-items: center;
    gap: 50px;
    width: 950px;
    flex-shrink: 0;
}

.top-content .left {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.top-content .left .title {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.top-content .left .subtext {
    color: #E5E7EB;
    font-family: Roboto;
    font-weight: light;
    font-size: 18px;
    padding-bottom: 10px;
}

.top-content button {
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
    color: #F9FAF8;
    padding: 8px;
    width: 100px;
}

.top-content .right {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
}

.top-content img {
    font-family: Roboto;
    font-weight: light;
    background-color: #6D747D;
    color: #F9FAF8;
    height: 100%;
    text-align: center;
    line-height: 200px;
}

/* Middle */
.middle-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 150px;
    padding-bottom: 100px;
}

.middle-content .title {
    font-size: 36px;
    font-weight: bold;
}

.middle-content .images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
    gap: 60px
}

.middle-content .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 155px;
}

.middle-content img {
    justify-content: center;
    border: solid #3882F6;
    border-radius: 15px;
    padding-top: 100%;
    width: 100%;
    height: 0;
    margin-bottom: 10px;
}

.middle-content .text {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #6D747D;
    font-family: Roboto;
}

/* Quote */
.quote {
    display: flex;
    justify-content: center;
    padding: 80px 50px;
    background-color: #E5E7EB;
}

.quote .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
}

.quote .text {
    font-size: 36px;
    font-family: Roboto;
    font-weight: lighter;
    font-style: italic;
    color: #4E5661;
}

.quote .author {
    width: 100%;
    white-space: nowrap;
    text-align: end;
    font-weight: bold;
}

/* Bottom */
.bottom-content {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    margin: 80px 350px;
    background-color: #3882F6;
    border-radius: 5px;
    align-items: center;
}

.bottom-content .title {
    color: #F9FAF8;
    font-weight: bold;
}

.bottom-content .description {
    color: #E5E7EB;
    font-family: Roboto;
    font-weight: 300;
}

.bottom-content button {
    border-color: #F9FAF8;
    border-style: solid;
    border-radius: 8px;
    background: none;
    color: #F9FAF8;
    padding: 8px 30px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    color: #E5E7EB;
    font-family: Roboto;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding: 30px;
}